[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X175 Y175 Z30 F3600


[gcode_macro _CG28]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}

   
[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set extrudertemp = params.EXTRUDER|int %}

    TURN_ON_LEDS                        ; turn on enclosure lights if not already on
    STATUS_MESHING                      ; turn on nozzle and logo leds
    BED_MESH_CLEAR                      ; clear any bed mesh
    SET_GCODE_OFFSET Z=0.00             ; clear z offset
    M109 S180                           ; set low extruder temperature to prevent oozing
    M190 S{bedtemp}                     ; set and wait for BED temperature
    _CG28                               ; conditional home
    Attach_Probe_Lock                   ; locks and attaches probe
    quad_gantry_level                   ; QUAD GANTRY LEVEL
    G28                                 ; homes all axes
    clean_nozzle                        ; cleans nozzle
    G28 Z                               ; homes z again after cleaning nozzle
    CALIBRATE_Z                         ; calibrate first layer
    BED_MESH_CALIBRATE                  ; calibrate bed mesh
    Dock_Probe_Unlock                   ; unlocks and docks probe
    G90                                 ; absolute positioning
    G0 X0 Y0 Z20  F20000                ; move nozzle on the edge
    M109 S{extrudertemp}                ; set and wait for EXTRUDER temperature
    counter_on                          ; turns on hour counter
    PURGE_LINE                          ; starts purge line
   

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS               ; turn off all heaters
    M107                           ; turn off fan
    G1 Z10 F3000                   ; move nozzle up 10mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR                 ; clears bed mesh
    counter_off                    ; turns off hour counter 
    STATUS_OFF                     ; turn off nozzle and logo leds
    TURN_OFF_LEDS                  ; turn of enclosure lights
    SET_GCODE_OFFSET Z=0.00        ; clear z offset


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    counter_off


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    counter_off


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### end of definitions #####
    G91
    G1 E{E} F2100
    RESTORE_GCODE_STATE NAME=PAUSE_state
    BASE_RESUME
    counter_on


[gcode_macro PURGE_LINE]
gcode:
    G1 Y0 X20 Z2 F18000.0               ; Move above start position
    G92 E0                              ; Reset Extruder
    G1 Z2.0 F3000                       ; Move Z Axis up
    G1 Y0 X20 Z0.3 F18000.0             ; Move to start position
    G1 Y0 X120.0 Z0.3 F1500.0 E12       ; Draw the first line
    G1 Y0.5 X120.0 Z0.3 F18000.0        ; Move to side a little
    G1 Y0.5 X20 Z0.3 F1500.0 E20        ; Draw the second line
    G92 E0                              ; Reset Extruder
    G1 Y5 Z5.0 F3000                    ; Move Z Axis up


[gcode_macro TURN_ON_LEDS]
gcode:
    SET_PIN PIN=Enclosure_LEDs VALUE=1


[gcode_macro TURN_OFF_LEDS]
gcode:
    SET_PIN PIN=Enclosure_LEDs VALUE=0


[gcode_macro UNLOAD_FILAMENT]
gcode:
   {% if printer.idle_timeout.state == "Ready" %}
        _CG28
        M83                     ; set extruder to relative extrusion
        G90                     ; set toolhead to absolute position
        G1 Z80 F100000          ; move z 
        G1 X150 Y50 F100000     ; move up and to front/center to straighten filament path
        G1 E3   F300            ; extrude slowly to soften tip of filament
        G1 E-30 F1800           ; quickly yank filament back clear of hotend
        G1 E-80 F1500           ; ensure filament is clear of extruder gears
        M82                     ; set extruder to absolute extrusion
   {% else %}
      { printer.gcode.action_respond_info("Filament unloading disabled while printing!") }
   {% endif %}


[gcode_macro LOAD_FILAMENT]
gcode:
   {% if printer.idle_timeout.state == "Ready" %}
        _CG28
        M83                     ; set extruder to relative extrusion
        G90                     ; set toolhead to absolute position
        G1 Z80 F100000          ; move z
        G1 X150 Y50 F100000     ; move up and to front/center to straighten filament path
        G1 E75 F300             ; extrude filament through into hotend
        G1 E30 F240             ; slowly extrude through hotend to partially purge previous filament
        M82                     ; set extruder to absolute extrusion
   {% else %}
      { printer.gcode.action_respond_info("Filament loading disabled while printing!") }
   {% endif %}


[gcode_macro PARKFRONT]
gcode:
    _CG28                                                                                                                           ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONT                             
    G90                                                                                                                             ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+10} Z{printer.toolhead.axis_maximum.z/2} F18000       ; park front center, center Z
    RESTORE_GCODE_STATE NAME=PARKFRONT
    

[gcode_macro PARKFRONTLOW]
gcode:
    _CG28                                                                                                                           ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONT
    G90                                                                                                                             ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+10} Z25 F18000                                        ; park front center, 50mm up
    RESTORE_GCODE_STATE NAME=PARKFRONT
    

[gcode_macro PARKREAR]
gcode:
    _CG28                                                                                                                           ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKREAR
    G90                                                                                                                             ; absolute positioning
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-10} Z{printer.toolhead.axis_maximum.z/2} F18000      ; park top rear left
    RESTORE_GCODE_STATE NAME=PARKREAR
    

[gcode_macro PARKCENTER]
gcode:
    _CG28                                                                                                                           ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKCENTER
    G90                                                                                                                             ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F18000        ; park center of build volume
    RESTORE_GCODE_STATE NAME=PARKCENTER
    

[gcode_macro PARKCENTERLOW]
gcode:
    _CG28                                                                                                                           ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKCENTERLOW
    G90                                                                                                                             ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z25 F18000                                         ; park 10mm above center of bed
    RESTORE_GCODE_STATE NAME=PARKCENTERLOW
    
    
[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	SET_PRESSURE_ADVANCE ADVANCE={pa}


[gcode_macro TEST_SPEED]
gcode:
	# Speed
	{% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
	# Iterations
	{% set iterations = params.ITERATIONS|default(5)|int %}
	# Acceleration
	{% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
	# Bounding box (in case the machine min/maxes are not perfect)
	{% set bound = params.BOUND|default(20)|int %}
	
	# Set speed test bounds (machine minimum/maximum positions, inset by the bounding box)
	{% set x_min = printer.toolhead.axis_minimum.x + bound %}
	{% set x_max = printer.toolhead.axis_maximum.x - bound %}
	{% set y_min = printer.toolhead.axis_minimum.y + bound %}
	{% set y_max = printer.toolhead.axis_maximum.y - bound %}

	# Save current gcode state (absolute/relative, etc)
	SAVE_GCODE_STATE NAME=TEST_SPEED
	
	# Absolute positioning
	G90
	
	# Set new limits
	SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}

	# Home and get position for comparison later:
		G28
		# QGL if not already QGLd (only if QGL section exists in config)
		{% if printer.configfile.settings.quad_gantry_level %}
			{% if printer.quad_gantry_level.applied == False %}
				QUAD_GANTRY_LEVEL
				G28 Z
			{% endif %}
		{% endif %}	
		G0 X{printer.toolhead.axis_maximum.x} Y{printer.toolhead.axis_maximum.y} F{30 * 60}
		G4 P1000 
		GET_POSITION

	# Go to starting position
	G0 X{x_min} Y{y_min} Z{bound + 10} F{speed * 60}

	{% for i in range(iterations) %}
		# Diagonals
		G0 X{x_min} Y{y_min} F{speed * 60}
		G0 X{x_max} Y{y_max} F{speed * 60}
		G0 X{x_min} Y{y_min} F{speed * 60}
		G0 X{x_max} Y{y_min} F{speed * 60}
		G0 X{x_min} Y{y_max} F{speed * 60}
		G0 X{x_max} Y{y_min} F{speed * 60}
		
		# Box
		G0 X{x_min} Y{y_min} F{speed * 60}
		G0 X{x_min} Y{y_max} F{speed * 60}
		G0 X{x_max} Y{y_max} F{speed * 60}
		G0 X{x_max} Y{y_min} F{speed * 60}
	{% endfor %}

	# Restore max speed/accel/accel_to_decel to their configured values
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 

	# Re-home XY and get position again for comparison:
		G28 X Y
		# Go to XY home positions (in case your homing override leaves it elsewhere)
		G0 X{printer.toolhead.axis_maximum.x} Y{printer.toolhead.axis_maximum.y} F{30 * 60}
		G4 P1000 
		GET_POSITION

	# Restore previous gcode state (absolute/relative, etc)
	RESTORE_GCODE_STATE NAME=TEST_SPEED

[gcode_macro counter_on]
gcode:
    set_pin pin=Hour_Counter value=1

[gcode_macro counter_off]
gcode:
    set_pin pin=Hour_Counter value=0